<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body id="bod">
<!-- navbar starts -->

<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/admin" class="navbar-brand">Home</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
        <%for(i=0;i<nav.length;i++){%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
          <%}%>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="mastheadde">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          
        
      </div> 
    </div><!-- /cont -->

<!-- navbar ends -->
<!-- Form starts -->

<div class="container center-signb">
  <div class="row justify-content-center">
<form action="/admin/addbook/add" method="POST" class="frm" enctype= "multipart/form-data" onsubmit="return addbook();">
    <h3>ADD A NEW BOOK</h3>
    <div class="form-group">
      <label>Title *</label>
      <input type="text" class="form-control" id="tit" aria-describedby="emailHelp" name="title" placeholder="Title" required>
      <label  id="title"></label>
    </div>
    <div class="form-group">
      <label >Author *</label>
    <input  class="form-control" id="auth" name="author" placeholder="Author name" required>
      <label  id="author"></label>
    </div>
    <div class="form-group">
      <label >Genre *</label>
      <input type="text" class="form-control" id="gen" name="genre" placeholder="Genre" required>
      <label  id="genre"></label>
    </div>
    <div class="form-group">
      <label >Description *</label>
    <textarea class="form-control" name="content" id="txtarea" cols="96" rows="5" placeholder="Type Your Content here" required></textarea>
      <label  id="txterror"></label>
    </div>
    <div class="form-group">
      <label >Image *</label>
     <input type="file" class="form-control-file" name="image" id="image" required>
      <label  id="image"></label>
    </div class="button-align">
    <button type="submit" class="btn btn-block">ADD BOOK</button>
    </div>
  </form>
</div>
</div>
<!-- Form ends -->

<!-- footer starts -->
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
          
        </div>
        <div class="col-sm-6">
            <p class="pull-right">Built By <i class="icon-heart-empty"></i> Anoja </p>      
        </div>
      </div>
    </div>
  </footer>
<!-- ends -->

 <!-- JS -->
 <!-- <script src="/public/js/validate.jss"></script> -->
 <script src="/js/signup.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>

 <!--  -->
</body>
</html>